.breadcrumb {
  &__list {
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
  }

  &__item {
    &:not(:last-child)::after {
      content: "/";
      position: relative;
      padding-right: 4px;
      font-size: $text-small;
      color: $grey;
      z-index: 2;
    }
  }

  &__link {
    margin-right: 5px;

    &_1 {
      margin-right: 7px;
    }

    &_3 {
      margin-right: 4px;
    }

    &_4 {
      margin-right: 6px;
    }
  }
}
