.you-get {
  padding: 19px 0 16px;

  &__title {
    margin-bottom: 8px;
    letter-spacing: 0.06px;
  }

  &__text {
    line-height: 150%;
  }

  &__item {
    padding: 5px 0 0 37px;
    max-width: 49%;
    background-repeat: no-repeat;
    background-position: 0 5px;
    background-size: 25px 25px;

    &_1 {
      background-image: url("../img/sprite.svg#network");
    }

    &_2 {
      background-image: url("../img/sprite.svg#briefcase");
    }

    &_3 {
      background-image: url("../img/sprite.svg#git-pull-request");
    }

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
}
