<article class="card @@block__article @@block__article_@@card-number">
  <div class="card__holder @@block__holder @@block__holder_@@card-number">
    <picture class="block card__pic @@block__pic @@block__pic_@@card-number">
      <source media="(max-width: 320px)" srcset="@@img.320" type="image/webp">
      <img class="card__img @@block__img @@block__img_@@card-number" src="@@img.1920" loading="lazy" alt="@@alt">
    </picture>
  </div>
  <div class="card__inner @@block__inner @@block__inner_@@card-number">
    <h3 class="title title_small card__title @@block__subtitle @@block__subtitle_@@card-number">
      @@category
      <span class="block card__model @@block__model @@block__model_@@card-number">
        @@model
      </span>
    </h3>
    <span class="visually-hidden">
      Цена
    </span>
    <span class="text text_grey-shade card__price @@block__price @@block__price_@@card-number">
      @@price
    </span>
    <div class="card__wrap @@block__wrap @@large @@block__wrap_@@card-number">
      <a class="btn btn_ambush card__link @@block__link @@block__link_@@card-number" href="@@href">
        Купить
      </a>
    </div>
  </div>
  <div class="rating text text_crusta card__reting @@block__reting @@block__reting_@@card-number">
    <span class="visually-hidden">
      Рейтинг
    </span>
    @@rating
  </div>
</article>