<div class="container header__container">
  <div class="phone header__phone">
    <a class="text text_small text_crusta phone__link" href="tel:+74958854547" aria-label="Телефон +7 (495) 885-45-47">
      <svg class="phone__icon">
        <use href="img/sprite.svg#phone"></use>
      </svg>
      +7 (495) 885-45-47
    </a>
  </div>
  <aside class="aside header__aside">
    <ul class="list-reset aside__list">
      <li class="aside__item">
        <a class="text text_small text_grey link link_grey aside__link" href="#">
          О&nbsp;компании
        </a>
      </li>
      <li class="aside__item">
        <a class="text text_small text_grey link link_grey aside__link" href="cooperation.html#guarantees">
          Гарантия и&nbsp;возврат
        </a>
      </li>
      <li class="aside__item">
        <a class="text text_small text_grey link link_grey aside__link" href="#">
          Корпоративным клиентам
        </a>
      </li>
      <li class="aside__item">
        <a class="text text_small text_grey link link_grey aside__link" href="#">
          Дизайн-решение
        </a>
      </li>
    </ul>
  </aside>
  <a class="block logo header__logo">
    <picture class="block logo__pic">
      <img class="logo__img" src="img/logo-1920.webp" alt="SitDownPls">
    </picture>
  </a>
  <nav class="nav header__nav">
    <ul class="list-reset nav__list">
      <li class="nav__item">
        <a class="text text_black nav__link" href="catalog.html">
          Каталог
        </a>
      </li>
      <li class="nav__item">
        <a class="text text_black nav__link" href="#">
          Магазины
        </a>
      </li>
      <li class="nav__item">
        <a class="text text_black nav__link" href="#">
          Шоу-рум
        </a>
      </li>
      <li class="nav__item">
        <a class="text text_black nav__link" href="#">
          Доставка и&nbsp;оплата
        </a>
      </li>
      <li class="nav__item">
        <a class="text text_black nav__link" href="#">
          Дисконт
        </a>
      </li>
      <li class="nav__item">
        <a class="text text_black nav__link" href="#">
          Контакты
        </a>
      </li>
    </ul>
  </nav>
  <div class="search header__search">
    <label class="search__label header__label">
      <span class="visually-hidden">
        Поиск
      </span>
      <input class="input input_long search__input text" name="search" type="text" placeholder="Я хочу купить...">
      <svg class="search__icon search__icon_magnifier">
        <use href="img/sprite.svg#magnifier"></use>
      </svg>
    </label>
    <button class="btn-reset search__btn" aria-label="Найти">
      <svg class="search__icon search__icon_search-arrow">
        <use href="img/sprite.svg#search-arrow"></use>
      </svg>
    </button>
  </div>
  <div class="header__box">
    <a class="header__link header__link_user" href="#" aria-label="Вход в личный кабинет">
      <svg class="header__icon header__icon_user">
        <use href="img/sprite.svg#user"></use>
      </svg>
    </a>
    <a class="header__link header__link_cart" href="#" aria-label="Корзина, товаров 0">
      <svg class="header__icon header__icon_cart">
        <use href="img/sprite.svg#shopping-cart"></use>
      </svg>
      <span class="text text_tiny text_white text_bold header__cart-count">
        0
      </span>
    </a>
  </div>
</div>