<div class="mini-oxford__box">
  <h2 class="font-second title title_small title_gold title_black mini-oxford__title">
    Оксфорд 1950
  </h2>
  <p class="text text_grey mini-oxford__text">
    Новая коллекция изысканных кресел
  </p>
  <div class="mini-oxford__wrap">
    <a class="arrow-link block text text_bold text_medium-purple link link_underline" href="#">
      В&nbsp;каталог
      <svg class="arrow-link__svg">
        <use xlink:href="img/sprite.svg#card-categorie-arrow"></use>
      </svg>
    </a>
  </div>
</div>