<div class="container product__container">
  <picture class="product__pic">
    <source media="(max-width: 320px)" srcset="img/product-d-31-1-320.webp" type="image/webp">
    <source media="(max-width: 1023px)" srcset="img/product-d-31-1-768.webp" type="image/webp">
    <source media="(max-width: 1366px)" srcset="img/product-d-31-1-1024.webp" type="image/webp">
    <img class="product__img" src="img/product-d-31-1-1920.webp" alt="Диван тканевый D-31, цвет синий. Раскладной.">
  </picture>
  <div class="product__buy">
    <div class="rating text text_crusta product__reting">
      <span class="visually-hidden">
        Рейтинг
      </span>
      4,8
    </div>
    <h1 class="title title_small product__title">
      Диван тканевый прямой &#8220;D-31&#8221;
    </h1>
    <p class="text text_small text_grey product__text">
      Мини 120&nbsp;см без ящика Stark синий&nbsp;(Рогожка)
    </p>
    <span class="visually-hidden">
      Цена
    </span>
    <span class="block text text_big-cost text_black product__price">
      28&nbsp;490 руб
    </span>
    <div class="product__wrap">
      <button class="btn-reset btn btn_big btn_medium-purple btn_semi-bold product__buy-btn">
        Купить в один клик
      </button>
      <button class="btn-reset btn btn_transparent">
        + Добавить в корзину
      </button>
    </div>
  </div>
  <div class="product__about">
    <h2 class="title title_tiny title_semi-bold product__subtitle">
      Опорный механизм
    </h2>
    <p class="text text_small text_black product__desc">
      Опорный механизм напоминает пантограф, к&nbsp;которому добавили дополнительную секцию. У&nbsp;опорного дивана
      сиденье &laquo;выпрыгивает&raquo; вперёд и&nbsp;вытаскивает вторую часть спального места. Заключительный
      штрих&nbsp;&mdash; опустить спинку.
    </p>
    <p class="text text_small text_black product__desc">
      Этот механизм не&nbsp;портит пол и&nbsp;не&nbsp;боится ковров. Требуется чуть больше силы, чтобы разложить
      диван, но&nbsp;подросток справится.
    </p>
    <div class="product__img-box">
      <picture class="product__subpic product__subpic_1" aria-hidden="true">
        <source media="(max-width: 320px)" srcset="img/product-d-31-2-320.webp" type="image/webp">
        <source media="(max-width: 1366px)" srcset="img/product-d-31-2-1024.webp" type="image/webp">
        <img class="product__subimg" src="img/product-d-31-2-1920.webp" loading="lazy" alt="">
      </picture>
      <picture class="product__subpic product__subpic_2" aria-hidden="true">
        <source media="(max-width: 320px)" srcset="img/product-d-31-3-320.webp" type="image/webp">
        <source media="(max-width: 1366px)" srcset="img/product-d-31-3-1024.webp" type="image/webp">
        <img class="product__subimg" src="img/product-d-31-3-1920.webp" loading="lazy" alt="">
      </picture>
    </div>
  </div>
  <div class="product__settings">
    <ul class="list-reset product__list">
      <li class="product__item">
        <span class="text text_small text_grey product__left">
          Гарантия&nbsp;
        </span>
        <span class="text text_small text_black product__right">
          18&nbsp;месяцев
        </span>
      </li>
      <li class="product__item">
        <span class="text text_small text_grey product__left">
          Артикул&nbsp;
        </span>
        <span class="text text_small text_black product__right">
          AAA41269004
        </span>
      </li>
      <li class="product__item">
        <span class="text text_small text_grey product__left">
          Длина&nbsp;
        </span>
        <span class="text text_small text_black product__right">
          163&nbsp;см
        </span>
      </li>
      <li class="product__item">
        <span class="text text_small text_grey product__left">
          Высота&nbsp;
        </span>
        <span class="text text_small text_black product__right">
          90&nbsp;см
        </span>
      </li>
      <li class="product__item">
        <span class="text text_small text_grey product__left">
          Глубина&nbsp;
        </span>
        <span class="text text_small text_black product__right">
          108&nbsp;см
        </span>
      </li>
      <li class="product__item">
        <span class="text text_small text_grey product__left">
          Спальное место&nbsp;
        </span>
        <span class="text text_small text_black product__right">
          200&nbsp;см х&nbsp;125&nbsp;см
        </span>
      </li>
      <li class="product__item">
        <span class="text text_small text_grey product__left">
          Высота посадки&nbsp;
        </span>
        <span class="text text_small text_black product__right">
          45&nbsp;см
        </span>
      </li>
      <li class="product__item">
        <span class="text text_small text_grey product__left">
          Механизм&nbsp;
        </span>
        <span class="text text_small text_black product__right">
          Опорный
        </span>
      </li>
      <li class="product__item">
        <span class="text text_small text_grey product__left">
          Тип обивки&nbsp;
        </span>
        <span class="text text_small text_black product__right">
          Рогожка
        </span>
      </li>
      <li class="product__item">
        <span class="text text_small text_grey product__left">
          Цвет&nbsp;
        </span>
        <span class="text text_small text_black product__right">
          Синий
        </span>
      </li>
      <li class="product__item">
        <span class="text text_small text_grey product__left">
          Наполнитель&nbsp;
        </span>
        <span class="text text_small text_black product__right">
          Независимый пружинный блок
        </span>
      </li>
      <li class="product__item">
        <span class="text text_small text_grey product__left">
          Материал каркаса&nbsp;
        </span>
        <span class="text text_small text_black product__right">
          Металл. рама с&nbsp;дерев. латами
        </span>
      </li>
      <li class="product__item">
        <span class="text text_small text_grey product__left">
          Количество мест&nbsp;
        </span>
        <span class="text text_small text_black product__right">
          Двухместные
        </span>
      </li>
      <li class="product__item">
        <span class="text text_small text_grey product__left">
          Категория&nbsp;
        </span>
        <span class="text text_small text_black product__right">
          Прямые тканевые диваны
        </span>
      </li>
      <li class="product__item">
        <span class="text text_small text_grey product__left">
          Возврат&nbsp;
        </span>
        <span class="text text_small text_black product__right">
          Условия
        </span>
      </li>
    </ul>
  </div>
</div>