<div class="container catalog__container">
  <h1 class="none title title_small catalog__title catalog__title_media-1024">
    Каталог
  </h1>
  <aside class="aside-left catalog__aside">
    @@include('aside-left.html')
  </aside>
  <div class="catalog__box">
    <h1 class="title title_small catalog__title catalog__title_media-1920">
      Каталог
    </h1>
    <ul class="list-reset catalog__list">
      <li class="catalog__item catalog__item_item1">
        @@include('card-rating.html', {
        "img": {
        "1920": "img/rating-1-1920.webp",
        "320": "img/rating-1-320.webp",
        },
        "alt": "Диван кожаный R-94, цвет чёрный.",
        "category": "Диван кожаный",
        "model": "&#8220;R-94&#8221;",
        "price": "94&nbsp;990 руб",
        "href": "#",
        "rating": "5,0",
        "block": "catalog",
        "card-number": "item1",
        })
      </li>
      <li class="catalog__item catalog__item_item2">
        @@include('card-rating.html', {
        "img": {
        "1920": "img/rating-2-1920.webp",
        "320": "img/rating-2-320.webp",
        },
        "alt": "Диван апартековый T-75, цвет коричневый.",
        "category": "Диван апартековый",
        "model": "&#8220;T-75&#8221;",
        "price": "69&nbsp;990 руб",
        "href": "#",
        "rating": "4,9",
        "block": "catalog",
        "card-number": "item2",
        })
      </li>
      <li class="catalog__item catalog__item_item3">
        @@include('card-rating.html', {
        "img": {
        "1920": "img/rating-3-1920.webp",
        "320": "img/rating-3-320.webp",
        },
        "alt": "Диван тканевый D-31, цвет синий.",
        "category": "Диван тканевый",
        "model": "&#8220;D-31&#8221;",
        "price": "28&nbsp;490 руб",
        "href": "page-d-31.html",
        "rating": "4,8",
        "block": "catalog",
        "card-number": "item3",
        })
      </li>
      <li class="catalog__item catalog__item_item4">
        @@include('card-rating.html', {
        "img": {
        "1920": "img/rating-4-1920.webp",
        "320": "img/rating-4-320.webp",
        },
        "alt": "Диван велюровый Y-68, цвет светло оранжевый.",
        "category": "Диван велюровый",
        "model": "&#8220;Y-68&#8221;",
        "price": "22&nbsp;990 руб",
        "href": "#",
        "rating": "4,8",
        "block": "catalog",
        "card-number": "item4",
        })
      </li>
      <li class="catalog__item catalog__item_item5">
        @@include('card-rating.html', {
        "img": {
        "1920": "img/rating-5-1920.webp",
        "320": "img/rating-5-320.webp",
        },
        "alt": "Диван из шинила W-95, цвет светло жёлтый.",
        "category": "Диван из&nbsp;шинила",
        "model": "&#8220;W-95&#8221;",
        "price": "22&nbsp;990 руб",
        "href": "#",
        "rating": "4,8",
        "block": "catalog",
        "card-number": "item5",
        })
      </li>
      <li class="catalog__item catalog__item_item6">
        @@include('card-rating.html', {
        "img": {
        "1920": "img/rating-6-1920.webp",
        "320": "img/rating-6-320.webp",
        },
        "alt": "Диван флоковый G-41, цвет бежевый.",
        "category": "Диван флоковый",
        "model": "&#8220;G-41&#8221;",
        "price": "17&nbsp;990 руб",
        "href": "#",
        "rating": "4,8",
        "block": "catalog",
        "card-number": "item6",
        })
      </li>
      <li class="catalog__item catalog__item_item7">
        @@include('card-rating.html', {
        "img": {
        "1920": "img/rating-7-1920.webp",
        "320": "img/rating-7-1920.webp",
        },
        "alt": "Диван шиниловый V-43, цвет серый.",
        "category": "Диван шиниловый",
        "model": "&#8220;V-43&#8221;",
        "price": "19&nbsp;990 руб",
        "href": "#",
        "rating": "4,8",
        "block": "catalog",
        "card-number": "item7",
        })
      </li>
      <li class="catalog__item catalog__item_item8">
        @@include('card-rating.html', {
        "img": {
        "1920": "img/rating-8-1920.webp",
        "320": "img/rating-8-1920.webp",
        },
        "alt": "Диван велюровый S-99, цвет жёлтая охра.",
        "category": "Диван велюровый",
        "model": "&#8220;S-99&#8221;",
        "price": "19&nbsp;990 руб",
        "href": "#",
        "rating": "4,7",
        "block": "catalog",
        "card-number": "item8",
        })
      </li>
      <li class="catalog__item catalog__item_item9">
        @@include('card-rating.html', {
        "img": {
        "1920": "img/rating-9-1920.webp",
        "320": "img/rating-9-1920.webp",
        },
        "alt": "Диван из кожзама F-85, цвет зелёный.",
        "category": "Диван из кожзама",
        "model": "&#8220;F-85&#8221;",
        "price": "26&nbsp;990 руб",
        "href": "#",
        "rating": "4,7",
        "block": "catalog",
        "card-number": "item9",
        })
      </li>
    </ul>
    <nav class="pagination catalog__pagination">
      <ul class="list-reset pagination__list">
        <li class="pagination__item pagination__item_1">
          <span class="text text_semi-bold text_white pagination__active" aria-current="page">
            1
          </span>
        </li>
        <li class="pagination__item pagination__item_2">
          <a class="btn btn_ambush text text_semi-bold text_medium-purple pagination__link" href="#"
            aria-label="Страница 2">
            2
          </a>
        </li>
        <li class="none pagination__item pagination__item_3">
          <a class="btn btn_ambush text text_semi-bold text_medium-purple pagination__link pagination__link" href="#"
            aria-label="Страница 3">
            3
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>