<div class="container similar__container">
  <h2 class="title title_small similar__title">
    Похожие товары
  </h2>
  <ul class="list-reset similar__list">
    <li class="similar__item similar__item_1">
      @@include('card-rating.html', {
      "img": {
      "1920": "img/similar-1-1920.webp",
      "320": "img/similar-1-320.webp",
      },
      "alt": "Диван велюровый R-85, тёмно серый.",
      "category": "Диван велюровый",
      "model": "&#8220;R-85&#8221;",
      "price": "34&nbsp;990 руб",
      "href": "#",
      "rating": "4,5",
      "block": "similar",
      "card-number": "item1",
      })
    </li>
    <li class="similar__item similar__item_2">
      @@include('card-rating.html', {
      "img": {
      "1920": "img/similar-2-1920.webp",
      "320": "img/similar-2-320.webp",
      },
      "alt": "Диван флоковый H-58, синий.",
      "category": "Диван флоковый",
      "model": "&#8220;H-58&#8221;",
      "price": "23&nbsp;990 руб",
      "href": "#",
      "rating": "4,6",
      "block": "similar",
      "card-number": "item2",
      })
    </li>
    <li class="similar__item similar__item_3">
      @@include('card-rating.html', {
      "img": {
      "1920": "img/similar-3-1920.webp",
      "320": "img/similar-3-1920.webp",
      },
      "alt": "Диван велюровый S-44, синий.",
      "category": "Диван велюровый",
      "model": "&#8220;S-44&#8221;",
      "price": "19&nbsp;990 руб",
      "href": "#",
      "rating": "4,5",
      "block": "similar",
      "card-number": "item3",
      })
    </li>
    <li class="similar__item similar__item_4">
      @@include('card-rating.html', {
      "img": {
      "1920": "img/similar-4-1920.webp",
      "320": "img/similar-4-1920.webp",
      },
      "alt": "Диван шиниловый V-43, светло серый.",
      "category": "Диван шиниловый",
      "model": "&#8220;V-43&#8221;",
      "price": "19&nbsp;990 руб",
      "href": "#",
      "rating": "4,8",
      "block": "similar",
      "card-number": "item4",
      })
    </li>
  </ul>
</div>