<div class="container">
  <h2 class="title special__title">
    Специальные предложения
  </h2>
  <ul class="list-reset special__list">
    <li class="special__item special__item_1">
      @@include('card-special.html', {
      "large": "",
      "img": {
      "1920": "img/special-1-1920.webp",
      "1024": "img/special-1-1024.webp"
      },
      "alt": "Кресло велюровое X-24, цвет жёлтый.",
      "category": "Кресло велюровое",
      "model": "&#8220;X-24&#8221;",
      "price": {
      "new": "15&nbsp;990 руб",
      "old": "24&nbsp;990 руб",
      },
      "discount": "-&nbsp;9&nbsp;000",
      "card-number": "item1",
      })
    </li>
    <li class="special__item special__item_2 special__item_wide">
      @@include('card-special.html', {
      "large": "special__wrap_large",
      "img": {
      "1920": "img/special-2-1920.webp",
      "1024": "img/special-2-1024.webp"
      },
      "alt": "Диван тканевый Z-44, светло серого цвета.",
      "category": "Диван тканевый",
      "model": "&#8220;Z-44&#8221;",
      "price": {
      "new": "22&nbsp;990 руб",
      "old": "32&nbsp;990 руб",
      },
      "discount": "-&nbsp;10&nbsp;000",
      "card-number": "item2",
      })
    </li>
    <li class="special__item special__item_3">
      @@include('card-special.html', {
      "large": "",
      "img": {
      "1920": "img/special-3-1920.webp",
      "1024": "img/special-3-1024.webp"
      },
      "alt": "Будильник Quartz-23, стрелочный, светло серого цвета.",
      "category": "Будильник",
      "model": "&#8220;Quartz-23&#8221;",
      "price": {
      "new": "1&nbsp;290 руб",
      "old": "1&nbsp;890 руб",
      },
      "discount": "-&nbsp;600",
      "card-number": "item3",
      })
    </li>
    <li class="none special__item special__item_4">
      @@include('card-special.html', {
      "large": "",
      "img": {
      "1920": "img/special-4-1920.webp",
      "1024": "img/special-4-1024.webp"
      },
      "alt": "Мини-скульптура Oh my deer, голова оленя чёрного цвета.",
      "category": "Мини-скульптура",
      "model": "&#8220;Oh my deer&#8221;",
      "price": {
      "new": "690 руб",
      "old": "990 руб",
      },
      "discount": "-&nbsp;300",
      "card-number": "item4",
      })
    </li>
    <li class="none special__item special__item_5">
      @@include('card-special.html', {
      "large": "",
      "img": {
      "1920": "img/special-5-1920.webp",
      "1024": "img/special-5-1024.webp"
      },
      "alt": "Диван вел-флок Z-85, серого цвета.",
      "category": "Диван вел-флок",
      "model": "&#8220;Z-85&#8221;",
      "price": {
      "new": "22&nbsp;990 руб",
      "old": "32&nbsp;990 руб",
      },
      "discount": "-&nbsp;10&nbsp;000",
      "card-number": "item5",
      })
    </li>
    <li class="none special__item special__item_6">
      @@include('card-special.html', {
      "large": "",
      "img": {
      "1920": "img/special-6-1920.webp",
      "1024": "img/special-6-1024.webp"
      },
      "alt": "Термометр + гидрометр “H-18”, стрелочный, золотого цвета.",
      "category": "Термометр&nbsp;+",
      "model": "гидрометр&nbsp;&#8220;H-18&#8221;",
      "price": {
      "new": "1&nbsp;390 руб",
      "old": "2&nbsp;090 руб",
      },
      "discount": "-&nbsp;700",
      "card-number": "item6",
      })
    </li>
  </ul>
</div>