<div class="container">
  <h2 class="title top-categories__title">
    Топ категории
  </h2>
  <ul class="list-reset top-categories__list">
    <li class="top-categories__item top-categories__item_1">
      <article class="card-categorie card-categorie_1">
        <ul class="list-reset card-categorie__list card-categorie__list_1">
          <li class="card-categorie__item card-categorie__item_1">
            <a class="text text_small text_grey link link_grey card-categorie__link card-categorie__link_item1"
              href="#">
              Прямые
            </a>
          </li>
          <li class="card-categorie__item card-categorie__item_2">
            <a class="text text_small text_grey link link_grey card-categorie__link card-categorie__link_item1"
              href="#">
              Угловые
            </a>
          </li>
          <li class="card-categorie__item card-categorie__item_3">
            <a class="text text_small text_grey link link_grey card-categorie__link card-categorie__link_item1"
              href="#">
              Модульные
            </a>
          </li>
        </ul>
        <h3 class="title title_small card-categorie__title card-categorie__title_1">
          Диваны
        </h3>
        <h3 class="none title card-categorie__title card-categorie__title_media-767 card-categorie__title_1">
          <a class="arrow-link block title link link_underline card-categorie__link-catalog card-categorie__link-catalog_media-767 card-categorie__link-catalog_1"
            href="#">
            Диваны
            <svg class="arrow-link__svg card-categorie__icon card-categorie__icon_1">
              <use xlink:href="img/sprite.svg#card-categorie-arrow"></use>
            </svg>
          </a>
        </h3>
        <picture class="card-categorie__pic card-categorie__pic_lg card-categorie__pic_1" aria-hidden="true">
          <source media="(max-width: 320px)" srcset="img/card-categorie-1-320.webp" type="image/webp">
          <source media="(max-width: 1023px)" srcset="img/card-categorie-1-768.webp" type="image/webp">
          <source media="(max-width: 1366px)" srcset="img/card-categorie-1-1024.webp" type="image/webp">
          <img class="card-categorie__img card-categorie__img_1" src="img/card-categorie-1-1920.webp" loading="lazy"
            alt="">
        </picture>
        <div class="card-categorie__wrap card-categorie__wrap_1">
          <a class="arrow-link block text text_bold text_medium-purple link link_underline card-categorie__link-catalog card-categorie__link-catalog_1"
            href="#">
            В&nbsp;каталог
            <svg class="arrow-link__svg card-categorie__icon card-categorie__icon_1">
              <use xlink:href="img/sprite.svg#card-categorie-arrow"></use>
            </svg>
          </a>
        </div>
      </article>
    </li>
    <li class="top-categories__item top-categories__item_2">
      <article class="card-categorie card-categorie_2">
        <ul class="list-reset card-categorie__list card-categorie__list_2">
          <li class="card-categorie__item card-categorie__item_2">
            <a class="text text_small text_grey link link_grey card-categorie__link card-categorie__link_item2"
              href="#">
              Мягкие
            </a>
          </li>
          <li class="card-categorie__item card-categorie__item_2">
            <a class="text text_small text_grey link link_grey card-categorie__link card-categorie__link_item2"
              href="#">
              Кресла-кровати
            </a>
          </li>
        </ul>
        <h3 class="title title_small card-categorie__title card-categorie__title_2">
          Кресла
        </h3>
        <h3 class="none title card-categorie__title card-categorie__title_media-767 card-categorie__title_2">
          <a class="arrow-link block title link link_underline card-categorie__link-catalog card-categorie__link-catalog_media-767 card-categorie__link-catalog_2"
            href="#">
            Кресла
            <svg class="arrow-link__svg card-categorie__icon card-categorie__icon_2">
              <use xlink:href="img/sprite.svg#card-categorie-arrow"></use>
            </svg>
          </a>
        </h3>
        <picture class="card-categorie__pic card-categorie__pic_lg card-categorie__pic_2" aria-hidden="true">
          <source media="(max-width: 320px)" srcset="img/card-categorie-2-320.webp" type="image/webp">
          <source media="(max-width: 767px)" srcset="img/card-categorie-2-1920.webp" type="image/webp">
          <source media="(max-width: 1023px)" srcset="img/card-categorie-2-768.webp" type="image/webp">
          <source media="(max-width: 1366px)" srcset="img/card-categorie-2-1024.webp" type="image/webp">
          <img class="card-categorie__img card-categorie__img_2" src="img/card-categorie-2-1920.webp" loading="lazy"
            alt="">
        </picture>
        <div class="card-categorie__wrap card-categorie__wrap_2">
          <a class="arrow-link block text text_bold text_medium-purple link link_underline card-categorie__link-catalog card-categorie__link-catalog_2"
            href="#">
            В&nbsp;каталог
            <svg class="arrow-link__svg card-categorie__icon card-categorie__icon_2">
              <use xlink:href="img/sprite.svg#card-categorie-arrow"></use>
            </svg>
          </a>
        </div>
      </article>
    </li>
    <li class="top-categories__item top-categories__item_3">
      <article class="card-categorie card-categorie_3">
        <ul class="list-reset card-categorie__list card-categorie__list_3">
          <li class="card-categorie__item card-categorie__item_3">
            <a class="text text_small text_grey link link_grey card-categorie__link card-categorie__link_item3"
              href="#">
              Односпальные
            </a>
          </li>
          <li class="card-categorie__item card-categorie__item_3">
            <a class="text text_small text_grey link link_grey card-categorie__link card-categorie__link_item3"
              href="#">
              Двуспальные
            </a>
          </li>
        </ul>
        <h3 class="title title_small card-categorie__title card-categorie__title_3">
          Кровати
        </h3>
        <h3 class="none title card-categorie__title card-categorie__title_media-767 card-categorie__title_3">
          <a class="arrow-link block title link link_underline card-categorie__link-catalog card-categorie__link-catalog_media-767 card-categorie__link-catalog_3"
            href="#">
            Кровати
            <svg class="arrow-link__svg card-categorie__icon card-categorie__icon_3">
              <use xlink:href="img/sprite.svg#card-categorie-arrow"></use>
            </svg>
          </a>
        </h3>
        <picture class="card-categorie__pic card-categorie__pic_3" aria-hidden="true">
          <source media="(max-width: 320px)" srcset="img/card-categorie-3-320.webp" type="image/webp">
          <source media="(max-width: 767px)" srcset="img/card-categorie-3-1920.webp" type="image/webp">
          <source media="(max-width: 768px)" srcset="img/card-categorie-3-768.webp" type="image/webp">
          <source media="(max-width: 1023px)" srcset="img/card-categorie-3-1920.webp" type="image/webp">
          <source media="(max-width: 1024px)" srcset="img/card-categorie-3-1024.webp" type="image/webp">
          <img class="card-categorie__img card-categorie__img_3" src="img/card-categorie-3-1920.webp" loading="lazy"
            alt="">
        </picture>
        <div class="card-categorie__wrap card-categorie__wrap_3">
          <a class="arrow-link block text text_bold text_medium-purple link link_underline card-categorie__link-catalog card-categorie__link-catalog_3"
            href="#">
            В&nbsp;каталог
            <svg class="arrow-link__svg card-categorie__icon card-categorie__icon_3">
              <use xlink:href="img/sprite.svg#card-categorie-arrow"></use>
            </svg>
          </a>
        </div>
      </article>
    </li>
    <li class="top-categories__item top-categories__item_4">
      <article class="card-categorie card-categorie_4">
        <ul class="list-reset card-categorie__list card-categorie__list_4">
          <li class="card-categorie__item card-categorie__item_4">
            <a class="text text_small text_grey link link_grey card-categorie__link card-categorie__link_item4"
              href="#">
              Тумбы
            </a>
          </li>
          <li class="card-categorie__item card-categorie__item_4">
            <a class="text text_small text_grey link link_grey card-categorie__link card-categorie__link_item4"
              href="#">
              Комоды
            </a>
          </li>
        </ul>
        <h3 class="title title_small card-categorie__title card-categorie__title_4">
          Тумбы и&nbsp;комоды
        </h3>
        <h3 class="none title card-categorie__title card-categorie__title_media-767 card-categorie__title_4">
          <a class="arrow-link block title link link_underline card-categorie__link-catalog card-categorie__link-catalog_media-767 card-categorie__link-catalog_4"
            href="#">
            Тумбы и&nbsp;комоды
            <svg class="arrow-link__svg card-categorie__icon card-categorie__icon_4">
              <use xlink:href="img/sprite.svg#card-categorie-arrow"></use>
            </svg>
          </a>
        </h3>
        <picture class="card-categorie__pic card-categorie__pic_4" aria-hidden="true">
          <source media="(max-width: 320px)" srcset="img/card-categorie-4-320.webp" type="image/webp">
          <source media="(max-width: 767px)" srcset="img/card-categorie-4-1920.webp" type="image/webp">
          <source media="(max-width: 1023px)" srcset="img/card-categorie-4-768.webp" type="image/webp">
          <source media="(max-width: 1366px)" srcset="img/card-categorie-4-1024.webp" type="image/webp">
          <img class="card-categorie__img card-categorie__img_4" src="img/card-categorie-4-1920.webp" loading="lazy"
            alt="">
        </picture>
        <div class="card-categorie__wrap card-categorie__wrap_4">
          <a class="arrow-link block text text_bold text_medium-purple link link_underline card-categorie__link-catalog card-categorie__link-catalog_4"
            href="#">
            В&nbsp;каталог
            <svg class="arrow-link__svg card-categorie__icon card-categorie__icon_4">
              <use xlink:href="img/sprite.svg#card-categorie-arrow"></use>
            </svg>
          </a>
        </div>
      </article>
    </li>
    <li class="top-categories__item top-categories__item_5">
      <article class="card-categorie card-categorie_5">
        <ul class="list-reset card-categorie__list card-categorie__list_5">
          <li class="card-categorie__item card-categorie__item_5">
            <a class="text text_small text_grey link link_grey card-categorie__link card-categorie__link_item5"
              href="#">
              Деревянные
            </a>
          </li>
          <li class="card-categorie__item card-categorie__item_5">
            <a class="text text_small text_grey link link_grey card-categorie__link card-categorie__link_item5"
              href="#">
              Металлокаркас
            </a>
          </li>
        </ul>
        <h3 class="title title_small card-categorie__title card-categorie__title_5">
          Стулья
        </h3>
        <h3 class="none title card-categorie__title card-categorie__title_media-767 card-categorie__title_5">
          <a class="arrow-link block title link link_underline card-categorie__link-catalog card-categorie__link-catalog_media-767 card-categorie__link-catalog_5"
            href="#">
            Стулья
            <svg class="arrow-link__svg card-categorie__icon card-categorie__icon_5">
              <use xlink:href="img/sprite.svg#card-categorie-arrow"></use>
            </svg>
          </a>
        </h3>
        <picture class="card-categorie__pic card-categorie__pic_5" aria-hidden="true">
          <source media="(max-width: 320px)" srcset="img/card-categorie-5-320.webp" type="image/webp">
          <source media="(max-width: 1023px)" srcset="img/card-categorie-5-768.webp" type="image/webp">
          <source media="(max-width: 1366px)" srcset="img/card-categorie-5-1024.webp" type="image/webp">
          <img class="card-categorie__img card-categorie__img_5" src="img/card-categorie-5-1920.webp" loading="lazy"
            alt="">
        </picture>
        <div class="card-categorie__wrap card-categorie__wrap_5">
          <a class="arrow-link block text text_bold text_medium-purple link link_underline card-categorie__link-catalog card-categorie__link-catalog_5"
            href="#">
            В&nbsp;каталог
            <svg class="arrow-link__svg card-categorie__icon card-categorie__icon_5">
              <use xlink:href="img/sprite.svg#card-categorie-arrow"></use>
            </svg>
          </a>
        </div>
      </article>
    </li>
  </ul>
</div>