<div class="container">
  <h2 class="title useful__title">
    Полезное
  </h2>
  <ul class="list-reset useful__list">
    <li class="useful__item useful__item_1">
      <article class="useful__article">
        <picture class="block useful__pic" aria-hidden="true">
          <source media="(max-width: 450px)" srcset="img/useful-1-320.webp" type="image/webp">
          <source media="(max-width: 767px)" srcset="img/useful-1-x2-320.webp" type="image/webp">
          <source media="(max-width: 1366px)" srcset="img/useful-1-1024.webp" type="image/webp">
          <img class="useful__img" src="img/useful-1-1920.webp" loading="lazy" alt="">
        </picture>
        <h3 class="title title_small useful__subtitle useful__subtitle_1">
          И&nbsp;нет сомнений, что сделанные на&nbsp;базе интернет-аналитики выводы представляют собой не&nbsp;что иное?
        </h3>
        <div class="useful__wrap">
          <a class="block btn btn_ambush useful__link" href="#">
            Читать
          </a>
        </div>
      </article>
    </li>
    <li class="useful__item useful__item_2">
      <article class="useful__article">
        <picture class="block useful__pic" aria-hidden="true">
          <source media="(max-width: 450px)" srcset="img/useful-2-320.webp" type="image/webp">
          <source media="(max-width: 767px)" srcset="img/useful-2-x2-320.webp" type="image/webp">
          <source media="(max-width: 1366px)" srcset="img/useful-2-1024.webp" type="image/webp">
          <img class="useful__img" src="img/useful-2-1920.webp" loading="lazy" alt="">
        </picture>
        <h3 class="title title_small useful__subtitle useful__subtitle_2">
          Как принято считать, некоторые особенности приносят несомненную пользу обществу?
        </h3>
        <div class="useful__wrap">
          <a class="block btn btn_ambush useful__link" href="#">
            Читать
          </a>
        </div>
      </article>
    </li>
    <li class="none useful__item useful__item_3">
      <article class="useful__article">
        <picture class="block useful__pic" aria-hidden="true">
          <source media="(max-width: 450px)" srcset="img/useful-3-320.webp" type="image/webp">
          <source media="(max-width: 767px)" srcset="img/useful-3-x2-320.webp" type="image/webp">
          <img class="useful__img" src="img/useful-3-1024.webp" loading="lazy" alt="">
        </picture>
        <h3 class="title title_small useful__subtitle useful__subtitle_3">
          Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?
        </h3>
        <div class="useful__wrap">
          <a class="block btn btn_ambush useful__link" href="#">
            Читать
          </a>
        </div>
      </article>
    </li>
    <li class="none useful__item useful__item_4">
      <article class="useful__article">
        <picture class="block useful__pic" aria-hidden="true">
          <source media="(max-width: 450px)" srcset="img/useful-4-320.webp" type="image/webp">
          <img class="useful__img" src="img/useful-4-x2-320.webp" loading="lazy" alt="">
        </picture>
        <h3 class="title title_small useful__subtitle useful__subtitle_3">
          Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?
        </h3>
        <div class="useful__wrap">
          <a class="block btn btn_ambush useful__link" href="#">
            Читать
          </a>
        </div>
      </article>
    </li>
    <li class="none useful__item useful__item_5">
      <article class="useful__article">
        <picture class="block useful__pic" aria-hidden="true">
          <source media="(max-width: 450px)" srcset="img/useful-5-320.webp" type="image/webp">
          <img class="useful__img" src="img/useful-5-x2-320.webp" loading="lazy" alt="">
        </picture>
        <h3 class="title title_small useful__subtitle useful__subtitle_3">
          Как принято считать, некоторые особенности приносят несомненную пользу обществу?
        </h3>
        <div class="useful__wrap">
          <a class="block btn btn_ambush useful__link" href="#">
            Читать
          </a>
        </div>
      </article>
    </li>
  </ul>
</div>