.card-categorie {
  padding: 17px 0 16px;

  &_1 {
    padding: 30px 0 16px;
  }

  &__list {
    gap: $card-categorie-gap;
    margin-bottom: 4px;

    &_1 {
      margin-bottom: 13px;
    }

    &_4 {
      margin-bottom: 2px;
      max-width: 85%;
    }
  }

  &__list,
  &__title {
    padding: 0 16px;
  }

  &__list_1,
  &__title_1 {
    padding: 0 30px;
  }

  &__item {
    font-size: 0;
  }

  &__link {
    font-size: $text-tiny;
    line-height: 100%;

    &_item1 {
      font-size: $text-small-lg;
    }
  }

  &__title {
    display: none;
    margin-bottom: auto;

    &_media-767 {
      display: block;
    }
  }

  &__icon,
  &__link-catalog::after {
    top: unset;
    right: 3px;
    bottom: 3px;
    transform: none;
  }

  &__icon_1,
  &__link-catalog_1::after {
    bottom: 7px;
  }

  &__icon_1,
  &__link-catalog_1::after {
    bottom: 6px;
  }

  &__icon_1,
  &__link-catalog_1::after,
  &__icon_2,
  &__link-catalog_2::after,
  &__icon_5,
  &__link-catalog_5::after {
    right: 2px;
  }

  &__icon_4,
  &__link-catalog_4::after {
    right: 5px;
    bottom: 3px;
  }

  &__link-catalog {
    display: none;
    font-size: $title-small;

    &_media-767 {
      display: block;
    }

    &_1 {
      font-size: $title-normal;
    }
  }

  &__pic {
    margin-bottom: 0;
    height: 60%;

    &_1 {
      height: 74.15%;
    }

    &_4 {
      height: 50.2%;
    }
  }
}
