.aside-left {
  padding: 2px 0 0px;

  &__title {
    @include visually-hidden;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: $aside-left-gap;
    margin-bottom: 0;
  }

  &__item {
    min-width: 146px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    &_2 {
      margin-bottom: 11px;
    }

    &_3 {
      margin-bottom: 6px;
    }
  }

  &__article {
    display: none;
  }
}
