.header {
  padding-bottom: 32px;
  overflow-x: clip;

  &_cooperation {
    padding-bottom: 15px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: $header-gap;
  }

  &__container:not(:last-child) {
    margin-bottom: 22px;
  }

  &__phone {
    grid-column: span 3;
  }

  &__aside {
    grid-column: span 9;
    justify-self: end;
  }

  &__logo {
    grid-column: span 3;
  }

  &__nav {
    grid-column: span 9;
  }

  &__search {
    grid-column: span 10;
  }

  &__box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: $header-box-gap;
    grid-column: span 2;
    justify-self: end;
    align-self: center;
  }

  &__link {
    &_cart,
    &_user {
      position: relative;
      outline: none;
      z-index: 1;


      &:focus-visible::before {
        background-color: $mauve;
      }

      &:focus-visible .header__icon_user,
      &:focus-visible .header__icon_cart {
        fill: $white;
      }

      @media(any-hover: hover) {
        &:hover:not(:focus-visible):not(:active) .header__icon_user,
        &:hover:not(:focus-visible):not(:active) .header__icon_cart {
          fill: $mauve;
        }
      }

      &:active .header__icon_user,
      &:active .header__icon_cart {
        fill: $primary-shade;
      }
    }

    &_user {
      @include enlargement-of-the-area(8px, 8px);
    }

    &_cart {
      padding-left: 11px;
      @include width-height(41px, 28px);

      @include enlargement-of-the-area(6px, 8px);
    }
  }

  &__link_user,
  &__icon_user {
    @include width-height(26px, 28px);
  }

  &__icon {
    &_user,
    &_cart {
      fill: $medium-purple;
      transition: fill .3s ease-in-out;
    }
  }

  &__icon_cart {
    @include width-height(30px, 28px);
  }

  &__cart-count {
    position: absolute;
    top: 5px;
    left: 0px;
    padding: 2px 4px;
    border-radius: 100%;
    background-color: #ff862f;
    @include text-rubber;
    z-index: 1;
  }

  &__breadcrumb {
    grid-column: span 12;

    &_page {
      position: relative;
      top: -2px;
    }
  }
}
