.header {
  padding-bottom: 28px;

  &_index {
    padding-bottom: 32px;
  }

  &__container {
    grid-template-columns: repeat(6, 1fr);
    gap: $header-gap;
    padding: 0 68px;
  }

  &__phone,
  &__aside,
  &__nav,
  &__search {
    grid-column: span 6;
  }

  &__logo,
  &__box {
    grid-column: span 3;
  }

  &__logo {
    order: 3;
  }

  &__box {
    order: 4;
    padding: 7px 4px 0 0;
  }

  &__cart-count {
    padding: 2px 4px 2px;
  }
}
